@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

:root {
  font-family: system-ui, Helvetica, Arial, sans-serif;
  line-height: 1;
  font-size: 18px;
  font-weight: 400;
  cursor: default;
  color-scheme: light dark;
  background-color: white;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

div#app {
  height: 100vh;
  display: flex;
  overflow: hidden;
  flex-direction: column;
}

main {
  flex-grow: 1;
  overflow: hidden;
}

button, a {
  cursor: pointer;
}

input {
  background-color: none;
}

input:-internal-autofill-selected {
  background-color: transparent;
}

*,*:focus,*:hover{
  outline:none;
}